/* *{
    border: 1px solid green;
    margin: 2px;
} */
body{
    background-color:lightgrey;
}

.title{
    text-align: center;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* width: 90%; */
}

.oneCard {
    padding: 5px 0px;
}

img{
    border-radius: 4%;
    max-width: 223px;
    /* max-height: 310px; */
}

.navbar{
    border-radius: 100px;
    align-items: baseline;
}
.container{
    max-width: 90%;
}

.homepage{
    /* display: flex; */
    text-align: center;
}
.loginBox{
    border: 1px solid black;
    border-radius: 4%;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 30%;
    margin: auto;
    margin-top: 5%;
    /* margin: 3% 30%; */
    color: rgba(255,255,255,.5);
}

.form-row{
    /* justify-content: center; */
    /* text-align: center; */
    margin-left: 9%;
}
.logButton{
    margin: 10px;
}
