<div class=container>
<nav class="navbar navbar-dark bg-dark">
    <!-- <div class="navbar-nav"> -->
        <div class="dropdown show">
            <a class="nav-item nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Account</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a ng-if="ctrl.loggedOut" class="nav-item nav-link dropdown-item" ng-click="ctrl.changeInclude('signup')" href="#">Sign Up</a>
                <a ng-if="ctrl.loggedIn" class="nav-item nav-link dropdown-item" ng-click="ctrl.deleteAccount()" href="#">Delete Account</a>
                <a ng-if="ctrl.loggedIn" class="nav-item nav-link dropdown-item" ng-click="ctrl.changeInclude('updateAccount')" href="#">Edit Account</a>
            </div>
        </div>
    <!-- </div> -->
    <form ng-submit='ctrl.searchCards()' class="form-inline">
        <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" ng-model='ctrl.cardTitle'></input>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="navbar-nav">
        <a ng-if="ctrl.loggedOut" ng-click="ctrl.changeInclude('login')" class="nav-item nav-link" href="#">Login</a>
        <a ng-if="ctrl.loggedIn" ng-click="ctrl.clearAll()" class="nav-item nav-link" href="#">Logout</a>
    </div>

</nav>
</div>
