<div class="loginBox bg-dark">
    <h1>Sign Up</h1>
    <form ng-submit="ctrl.signUp()">
        <div class="form-group form-row col-md-10">
            <label for="username">Username:</label>
            <input class="form-control" ng-model="ctrl.signUpData.username" type="text" id="username" name="username" placeholder="username"/>
        </div>
        <div class="form-group form-row col-md-10">
            <label for="password">Password:</label>
            <input class="form-control" ng-model="ctrl.signUpData.password" type="text" id="password" name="password" placeholder="password"/>
        </div>
        <button class="btn btn-outline-success logButton" type="submit">Login</button>
    </form>
</div>
